extends /layouts/theme.pug

block content
  .bg-faded.p-t-1
    main.container
      h1.m-b-1= post.title
      .row
        .col-md-9
          .card
            .card-block
              != markdown.render(post.body)
        .col-md-3
          .media
            .media-left
              img.media-object.img-circle(src='https://gravatar.com/avatar/?d=mm', width='40', height='40')
            .media-body
              h4.media-heading Author
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
